<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/login.css">
    </style>
</head>

<body>

    <div class="wrapper">
        <div class="imagebox">
            <img src="/css/메인이미지2.png" alt="">
        </div>
        <div class="formbox">
            <div class="logobox"><img src="/css/로고2.png" alt=""></div>
            <div class="inputbox">
                <input type="text" name="id" placeholder="  전화번호,사용자 이름 또는 이메일">
                <input type="password" name ="password" placeholder="  비밀번호">
                <button class="go">로그인</button>
            </div>
            <div class="divider"><span>또는</span></div>
            <div class="find-pw">
                <a href="javascript:void(0)">비밀번호를 잊으셨나요?</a>
            </div>
            <div class="joinus">
                <span>계정이 없으신가요?</span>
                <a href="javascript:void(0)">가입하기</a>
            </div>
            <div></div>
        </div>
    </div>

<script>
    const btnEl = document.querySelector('.go');
        btnEl.addEventListener(()=>{});
</script>

</body>

</html>